html,body{
  overflow-x: hidden;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.sectionOne{
    margin-bottom: 100px;
}
.ShopByCategorytitle{
    visibility: visible;
    animation-duration: 0.5s;
    animation-name: fadeInUp;
    font-size: 48px;
    font-family: 'Italiana', serif;
}
.sectionTwo p {
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
}
.sectionTwo{
    margin-bottom: 60px;
}
/* Tablet and up */

@media screen and (min-width: 768px) {
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item {
      display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
      -webkit-transition: none;
      transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
      position: absolute;
      top: 0;
      right: -50%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item {
      position: relative;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item {
      position: relative;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
  .sectionThree  .carousel-item{
    margin-right: unset !important;
    margin-bottom: 100px;
  }
  /* Desktop and up */
  
  @media screen and (min-width: 992px) {
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
      display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
      -webkit-transition: none;
      transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
      position: relative;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
      position: relative;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
   .animatedText{
    background-color: black;
    color: white;
    min-height: 79px;
    line-height: 79px;
    vertical-align: middle;
    margin-bottom: 200px;
  }
  .animatedText p{
    font-size: 18px;
    font-weight: 500;
  }
  .animatedText p { animation: scrollText 30s infinite linear; }
  @keyframes scrollText {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
  }
  .antique{
    background-color: whitesmoke;
    position: relative;
    margin-bottom: 160px;
  }
  .antiqueText{
    font-weight: 400!important;
    font-size: 4rem;
    font-family: 'Italiana', serif;
    float: right;
    line-height: 80px;
  }
  .ringsImg{
    height: auto;
    width: 100%;
    position: relative;
    bottom: 80px;
  }
  .shapeIMG {
    position: absolute;
    bottom: 200px; /* Start the image below the container */
    left: 100%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust for the image width */
    animation: move-up 1s ease-in-out forwards; /* Animation properties: name, duration, timing function, fill mode */
}
.shapeIMGTEXT {
  position: relative;
  bottom: 200px; /* Start the image below the container */
  left: 148%; /* Center the image horizontally */
  animation: move-up 1s ease-in-out forwards; /* Animation properties: name, duration, timing function, fill mode */
}
@keyframes move-up {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 320px;
    }
}
.sectionFive{
  margin-bottom: 100px;
}
.dealImgBig{
  width: 420px;
  margin-left: 35px;
}
.sectionSix{
  background-color: black;
  padding-top: 130px;
  padding-bottom: 130px;
}
.sectionSix .dod {
  font-family: 'Italiana', serif;
  font-size: 64px;
  color: white;
}
.sectionSix ol li {
  font-family: 'Prompt', sans-serif;
  font-size: 24px;
  color: white;
  line-height: 64px;
}
.dealImgSmalldiv{
  background-color: white;
  margin-top: 60px;
  max-height: 350px;
}

.dealImgSmall{
  width:  220px;
  padding-top:50px;
}